@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
}

.container-custom {
    background: #f8f9fa;
    margin-top: 60px;
    max-width: 760px;
    /* max-width: 1080px; */
    border: 1px solid #ddd;
    padding: 20px 40px 40px 40px;
}
.valid-fields {
    padding: 100px 0;
}

.valid-fields a {
    font-size: 18px;
    text-decoration: none;
    color: #7e57c2;
    border: 1px solid #7e57c2;
    padding: 40px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
}
.valid-item {
    padding: 40px 25px !important;
}
.valid-fields a:hover {
    background: #7e57c2;
    color: #ffffff;
}
/* 
.valid-fields {
    margin: 40px 0;
    border: 1px solid #7e57c2;
    padding: 40px;
    transition: 0.3s;
    border-radius: 5px;
}
.valid-fields a {
    font-size: 20px;
    color: #7e57c2;
    text-decoration: none;
    font-weight: bold;
}
.valid-fields a:hover {
    background: #7e57c2;
    color: #fff;
} */
